discord.py
PyNaCl
aiohttp
astroid
async-timeout
asyncio
certifi
cffi
chardet
ffmpeg-python
future
isort
lazy-object-proxy
mccabe
multidict
pip
psutil
pycparser
pylint
setuptools
six
typed-ast
utils
websockets
wrapt
youtube-dl

